{% load static %}
<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href={% static 'css/3.css' %} rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style href=""></style>
    <title>Edit</title>
</head>
<body>
    <div class="box_content">
        <ol class="rounded-list">
            <li>
                <ol>
                    {% for data in dataset %}
                    <li><a href="/product/{{data.codebar}}">{{data.productName}}</a></li>
                    {% endfor %}
                   
                    
                </ol>
            </li>
        </ol>
    </div>
</body>
</html>